mixin navbar(activePage)
  - var indexIsActive = activePage == 'index'
  - var aboutIsActive = activePage == 'about'
  - var productsIsActive = activePage == 'products'
  - var teamIsActive = activePage == 'team'
  - var contactIsActive = activePage == 'contact'
  nav.navbar.is-spaced(role="navigation", aria-label="Main navigation")
    .navbar-brand
      if indexIsActive
        a.navbar-item.is-active(href="/") spokesoft
      else
        a.navbar-item(href="/") spokesoft
      a.navbar-burger(role="button", aria-label="menu", aria-expanded="false", data-target="navbar-menu")
        span(aria-hidden="true")
        span(aria-hidden="true")
        span(aria-hidden="true")
        span(aria-hidden="true")
    .navbar-menu
      if block
        block
      else
        .navbar-end
          +navbar-item("about.html", "About", aboutIsActive)
          +navbar-item("products.html", "Products", productsIsActive)
          +navbar-item("team.html", "Team", teamIsActive)
          +navbar-item("contact.html", "Contact", contactIsActive)

mixin navbar-item(href, title, active)
  if active
    a.navbar-item.is-active(href=href)= title
  else  
    a.navbar-item(href=href)= title

doctype html
html(lang="en")
  head
    title Spokesoft
    include favicons.html
    block meta
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css", integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==", crossorigin="anonymous", referrerpolicy="no-referrer")
    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/brands.min.css")
    link(rel="stylesheet", href="css/spokesoft.css")
    block styles
  body
    .hero.is-fullheight
      block content
      footer.footer.p-5
        .content
          .columns
            .column
              p © 2024 Spokesoft, Inc <span class="m-2">|</span> All rights reserved
            .column
              p.has-text-right
                a.button.is-small(href="https://github.com/spokesoft")
                  span.icon
                    i.fab.fa-github
                  span GitHub
    block modals
    block templates
    block scripts